/* Global styles */
body {
    font-family: 'Satisfy', cursive;
    color: #2B303A; /* Dark Blue-Grey */
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

/* Center align headings */
h1, h3 {
    text-align: center;
}

/* Section styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Header styling */
header.bg-dark {
    background-color: #2B303A; /* Dark Blue-Grey */
}

/* Row and Column styling */
.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
}

/* List item styling */
.column ul {
    list-style-type: none;
    padding-left: 0;
}

.column ul li {
    margin-bottom: 10px;
}

/* Increase the width of the resume dropdown menu */
.resume-dropdown-menu {
    min-width: 200px; /* Adjust this value as needed */
}

/* Night mode toggle button */
button#night-mode-toggle {
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
    margin-right: 20px; /* Adjust margin to control spacing */
    background-color: #EEE5E9; /* Light Pink */
    color: #2B303A; /* Dark Blue-Grey */
}
