/* Global styles */
body {
    font-family: 'Satisfy', cursive;
    color: var(--dark-gray-text); /* Use the defined dark gray text color variable */
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

/* Center align headings */
h1, h3 {
    text-align: center;
}

/* Section styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Header styling */
header.bg-dark {
    background-color: var(--dark-blue-grey); /* Use the defined dark blue-grey color variable */
}

/* Color variables */
:root {
    --dark-blue-grey: #2B303A; /* Dark Blue-Grey */
    --medium-blue-grey: #4E6A73; /* Medium Blue-Grey */
    --light-blue-grey: #70A3AC; /* Light Blue-Grey */
    --light-blue: #92DCE5; /* Light Blue */
    --light-grey-blue: #CFE2E8; /* Light Grey-Blue */
    --light-pink: #EEE5E9; /* Light Pink */
}

/* Row and Column styling */
.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
}

/* List item styling */
.column ul {
    list-style-type: none;
    padding-left: 0;
}

.column ul li {
    margin-bottom: 10px;
}

/* Increase the width of the resume dropdown menu */
.resume-dropdown-menu {
    min-width: 200px; /* Adjust this value as needed */
}

/* Night mode toggle button */
button#night-mode-toggle {
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
    margin-right: 20px; /* Adjust margin to control spacing */
    background-color: var(--light-pink); /* Use the light pink color variable for the button background */
    color: var(--dark-blue-grey); /* Use the dark blue-grey color for the button text */
}
